/* Import the Unbounded font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

/* Set some CSS variables that can be used throughout the page */
:root {
    --primary-background-color: #f5f5f3;
    --primary-font-color: #544F56;
    --primary-font-color-opacity: #544F56;
    --primary-button-background: #858984;
    background-color: var(--primary-background-color);
    color: var(--primary-font-color);
    font-size: 62.5%;
}

/* Apply some common styles to all elements on the page */
* {
    box-sizing: border-box;
    font-family: 'Unbounded', cursive;
    margin: 0;
    padding: 0;
}

/* Set margin bottom for heading elements */
h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

/* Style for header elements */
h1 {
    font-size: 5.4rem;
    margin-bottom: 5rem;
}

h2 {
    font-size: 3.9rem;
    font-weight: 400;
    margin-bottom: 4rem;
}

h3 {
    font-size: 3.1rem;
    margin-bottom: 4rem;
    font-weight: 300;
    padding: 0rem 15rem;
}

/* Set global values */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
    padding: 2rem;
}

.container>* {
    width: 100%;
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* Home page buttons */
.btn {
    appearance: none;
    background-color: var(--primary-button-background);
    border-radius: 40em;
    border-style: none;
    box-shadow: #706157 0 -12px 6px inset;
    box-sizing: border-box;
    color: var(--primary-background-color);
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    padding: 1rem 1.3rem;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:hover {
    background-color: #FFC229;
    box-shadow: #FF6314 0 -6px 8px inset;
    transform: scale(1.125);
}

.btn:active {
    transform: scale(1.025);
}

.btn-info {
    font-size: 1.7rem;
    margin: 0rem 0rem 4rem 0rem;
}

/* Popup home page instruction container */

#popupContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background-color: var(--primary-font-color-opacity);
    z-index: 9999;
    max-width: 70rem;
    overflow: auto;
    scroll-snap-align: end;
    scroll-snap-type: y mandatory;
    animation: fadeIn 0.5s ease-in-out;
}

/* FadeIn instructions container animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#popupContainer.show {
    display: flex;
    align-items: center;
}

#popupContainer > p {
    color: var(--primary-background-color);
    font-size: 1.5rem;
    letter-spacing: 0.5;
    line-height: 1.8;
    text-align: left;
    padding: 3rem;
    max-height: 100%;
    text-shadow: 1px 1px 2px var(--primary-font-color);
}

/* GAME */

.answer {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 100%;
    font-size: 1.8rem;
    background-color: #fff;

}
.answer:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 var(--primary-button-background);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}


.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: var(--primary-font-color);
    color: var(--primary-background-color);
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

#nextBtn {
    width: 20%;
    margin: 3rem auto;
}

.correct {
    background-color: #135c11;
    color: #e3dee1;
}

.incorrect {
    background-color: #8e0909;
    color: #e3dee1;
}

/* Stopwatch */
.stopwatch {
    font-size: 4rem;
    padding: 3rem;
    color:#FFC229;
    font-weight: 600;
}

 /* Spacebar */
#spacebarContainer {
    width: 20rem;
    height: 4rem;
    border: 3px solid var(--primary-font-color);
    background-color: #fff;
    width: 50%;
    display: flex;
    margin: 5rem auto;
    align-items: center;
    padding: 0 0.3rem;
}

.spacebar-percent {
    height: 80%;
    background-color: #FFC229;
    width: 0%;
    border: none;
    display: inherit;
    align-items: center;
}

/* Loader */
#loader {
    border: 16px solid white;
    border-radius: 50%;
    border-top: 16px solid #FFC229;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
}

/* Loader animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* End page */

.inline-header {
    display: inline-block;
    flex-direction: row;
    padding: 0;
    margin: 0;
    text-align: center;
}



/* Media queries */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    h2 {
        font-size: 1.6rem;
    }
    .answer {
        font-size: 1.3rem;
    }
    .stopwatch {
        font-size: 3.4rem;
        padding: 2.4rem;
        font-weight: 500;
    }
    
     /* Spacebar */
    #spacebarContainer {
        width: 15rem;
        height: 3rem;
    }
    
    /* Loader */
    #loader {
        border: 8px solid white;
        border-top: 8px solid #FFC229;
        width: 6rem;
        height: 6rem;
    }
    #end h1 {
        font-size: 2.7rem;
    }

    #end h3 {
        font-size: 2.4rem;
    }

    #end span {
        font-weight: 500;
        padding: 10rem;
  }
}